---
import CardSecciones from '@/components/CardSecciones.astro'
import ListaRecursos from '@/components/ListaRecursos.astro'
import NavegacionMaterial from '@/components/NavegacionMaterial.astro'
import SeccionListaCopyCode from '@/components/SeccionListaCopyCode.astro'
import Separador from '@/components/Separador.astro'
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import MaterialesCurso from '../content/MaterialesCurso.json'

const elementosComunes = await Astro.glob(
	'../content/sintaxis_basica_wollok.md'
)
const { comandosBasicGit } = elementosComunes[0].frontmatter
---

<DefaultLayout
	title="Material - Estrategias de Persistencia"
	description="Universidad Nacional de Hurlingham, material de Programación con Estrategias de Persistencia"
	author="Estrategias de Persistencia">
	<div class="flex">
		<aside
			class="sticky left-0 top-0 h-screen w-max min-w-52 rounded-lg bg-gradient-to-t from-slate-200 to-[--background] dark:from-zinc-800 dark:to-[--background]">
			<NavegacionMaterial
				title="Materiales"
				categorias={MaterialesCurso.categorias}
			/>
		</aside>
		<section class="m-auto md:mx-4">
			<h3 class="mb-10 text-center text-3xl sm:text-5xl">Material</h3>

			{/* Generar dinámicamente cada CardSecciones según la categoría */}
			{
				MaterialesCurso.categorias.map((categoria) => (
					<CardSecciones
						title={categoria.titulo}
						id={categoria.id}>
						<p>{categoria.descripcion}</p>

						{categoria.mostrarComandos && (
							<>
								<p>
									Acá van a poder ver los comandos mas comunes que estaremos
									utilizando:
								</p>
								<SeccionListaCopyCode
									id="ComandosBasicos"
									title="Comandos basicos de Git"
									lista={comandosBasicGit}
								/>
								<center>
									<b>Aclaración</b>: El "--global" SOLO se utiliza en PC
									PERSONALES, NO en la Universidad.
								</center>
								<Separador />
							</>
						)}

						<ListaRecursos recursos={categoria.recursos} />
					</CardSecciones>
				))
			}
		</section>
	</div>
</DefaultLayout>

<style lang="scss">
	p {
		margin-bottom: 10px;
	}

	@media (max-width: 775px) {
		aside {
			display: none;
		}
	}
</style>
